@layer defaults.desktop           {  }

@layer components.desktop         {  }
/* components */
@layer layout.desktop         {  }
@layer aheader.desktop            {  }
@layer pagination.desktop         {  }
@layer preview-switch.desktop     { 

label:has(> input#preview-switch-mobile) {
    display: none;
}





label:has(> input#preview-switch-desktop) {
    position: fixed;

    left: calc((100vw - var(--container-width)) / 2 - 25px);

/*    font:           var(--article-font);*/
/*    letter-spacing: var(--article-letter-spacing);*/

    bottom: 20vh;

    color: hsl(0, 0%, 70%);
    border-color: hsl(0, 0%, 40%);

    line-height:    1;


    --border-width: 1px;
    --padding-top:  5px;
    --padding-left: 1px;
    --padding-bottom:5px;
    --padding-right: 2px;

    padding-right:  calc(var(--padding-right) + var(--border-width));
    padding-left:   calc(var(--padding-left) + var(--border-width));
    padding-top:    calc(var(--padding-top) + var(--border-width));
    padding-bottom: calc(var(--padding-bottom) + var(--border-width));


    transform: rotate(180deg);
    writing-mode: vertical-lr;

    cursor: pointer;
    /*background-color: transparent;*/
}
label > span:first-child {
/*    font:           var(--main-font);*/
/*    letter-spacing: var(--main-letter-spacing);*/

    font-weight:    400;
    line-height:    1;
}


label:has(> input#preview-switch-desktop):hover {
    color: hsl(0, 0%, 95%);
}


label:has(> input#preview-switch-desktop:checked) {

    color: hsl(0, 0%, 95%);
/*    color: hsl(0, 0%, 0%);*/
/*    color: hsl(0, 0%, 30%);*/

    /*padding-bottom: 1px;*/
    /*padding-top: 3.1px;*/
    /*padding-bottom: 1px;*/
    /*padding-bottom: 0;*/

/*    padding-top:    2px;*/

/*    padding-left:   5px;*/
/*    padding-right:  5px;*/


/*    border-right-width:   var(--border-width);*/

/*    padding-right:  var(--padding-right);*/
/*    padding-left:   var(--padding-left);*/
/*    padding-top:    var(--padding-top);*/
/*    padding-bottom: var(--padding-bottom);*/




    /*bottom: calc(20vh - 3.1px);*/
    /*left: calc(50vw - 48ch - 20px - 44px - 6.93px);*/
    /*bottom: calc(20vh - 3.1px);*/
/*    left: calc(50vw - 48ch - 20px - 44px - 6.93px);*/
/*    left: calc((100vw - var(--container-width)) / 2 - 20px - 48px - 6.93px);*/
/*    left: calc((100vw - var(--container-width)) / 2 - 74.93px);*/
/*    left: calc((100vw - var(--container-width)) / 2);*/
/*    left: calc(-10px - 6.93px);*/
/*    bottom: calc(20vh - 2px);*/
    /*bottom: calc(20vh - 2.5px);*/
    /*left: calc(50vw - 48ch - 20px - 44px - 6px);*/
    /*left: 6px;*/
    /*top: -3.1px;*/
} }
@layer alist.desktop              {  }
@layer primary-header.desktop     { 



header.primary-header {
    padding-left: 1em;
}

 }
@layer layout-decor.desktop {  }
